.container{
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    width: 300px;
    margin-bottom: 2em;
    background-color: whitesmoke;

    
}

.container:hover{
    transform: translate(0, -1rem);
    transition: transform .4s;
    border: 1px solid var(--color-sec);

}

.container__img img{
    max-width: 90%;
    height: 140px;

}

.container h3{
    margin-top: 1em;
    font-weight: 700;
    text-transform: uppercase;

}

.category{
    margin-top: 1em;
    border-bottom: 1px solid rgb(197, 197, 197);
    padding-bottom: 1em;

}

.rent{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.rent__rent{
    color: var(--color-third);
    background-color: var(--color-main);
    border-radius: 15px;
    padding: 0.5em 1em;
}

.rent__rent:hover{
    background-color: var(--color-sec);
    transition: 300ms;

}

.rent__value{
    font-weight: 700;
}

.rating{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;

}

.rating h4{
    margin-right: 0.5em;
    margin-left: 0.5em;

}

.rating p{
    opacity: 75%;

}