.container ul{
    margin-top: 4em ;
    display: flex;
    gap: 12em;
    justify-content: center;

}

.container ul img{
    width: 57px;
    opacity: 70%;

}

.container ul img:hover{
    cursor: pointer;
}